# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/
*.egg-info/

# Configuration files
config.json
sent_codes.json

# Compiled files
*.so
*.dll

# Distribution files
build/
dist/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
